@import "/styles/reset.css";
.bg-sprite {
  background-image: url("/image/sprite.png");
  background-position: -2px -38px;
  width: 80px;
  height: 24px;
}
.bg-sprite-2 {
  background-image: url("/image/sprite-2.png");
  background-position: -85px 5px;
  width: 20px;
  height: 20px;
}
.rating {
  a {
    text-decoration: none;
    color: #007185;
  }
  span {
    color: #666;
    padding: 0 5px 0 5px;
  }
}
.rating {
  a:hover {
    color: #b12704;
    text-decoration: underline;
  }
}
.climate {
  a {
    text-decoration: none;
    color: #168342;
  }
}

.price {
  .price__symbol {
    font-size: 13px;
  }
  .price__whole {
    font-size: 28px;
    margin-top: -8px;
  }
  .price__fraction {
    font-size: 13px;
  }
  .price__text {
    font-size: 18px;
    color: #b12704;
  }
}
.container-img {
  width: 700px;
  height: 658px;
  background-image: url(/image/1-back.jpg);
}
.list-style {
  list-style: disc;
}
.list {
  position: relative;
  padding-left: 0;
}
.share {
  width: 33.6px;
  height: 33.6px;
  border: 1px solid rgb(226, 225, 225);
  border-radius: 50%;
  position: absolute;
  background-color: white;
  cursor: pointer;
}

.list__item__item-1 {
  position: absolute;
  left: 22px;
  top: 107px;
  display: none;
}
.list__item-1:hover {
  border: 1px solid orange;
  box-shadow: 0 0 10px orange;
  cursor: pointer;
   .list__item__item-1 {
    display: block;
    list-style: none;
  }
}

.list__item__item-2 {
  position: absolute;
  left: 23px;
  top: 0;
  display: none;
}
.list__item-2:hover {
  border: 1px solid orange;
  box-shadow: 0 0 10px orange;
  cursor: pointer;
  .list__item__item-2 {
    display: block;
    list-style: none;
  }
}

.list__item__item-3 {
  position: absolute;
  left: 23px;
  top: 0;
  display: none;
}
.list__item-3:hover {
  border: 1px solid orange;
  box-shadow: 0 0 10px orange;
  cursor: pointer;
  .list__item__item-3 {
    display: block;
    list-style: none;
  }
}
.list__item__item-4 {
  position: absolute;
  left: 23px;
  top: 0;
  display: none;
}
.list__item-4:hover {
  border: 1px solid orange;
  box-shadow: 0 0 10px orange;
  cursor: pointer;
  .list__item__item-4 {
    display: block;
    list-style: none;
  }
}
.list__item__item-5 {
  position: absolute;
  left: 23px;
  top: 0;
  display: none;
}
.list__item-5:hover {
  border: 1px solid orange;
  box-shadow: 0 0 10px orange;
  cursor: pointer;
  .list__item__item-5 {
    display: block;
    list-style: none;
  }
}
.list__item__item-6 {
  position: absolute;
  left: 23px;
  top: 0;
  display: none;
}
.list__item-6:hover {
  border: 1px solid orange;
  box-shadow: 0 0 10px orange;
  cursor: pointer;
  .list__item__item-6 {
    display: block;
    list-style: none;
  }
}
